*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Poppins",sans-serif; 
    }
    
    .titulo {
    margin-top: 4rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 33rem;
    height: 8.375rem;
    
    .titulo-preencher {
        color: #57534E;
    }
    
    .titulo-voltar {
        justify-content: space-between;
        display: flex;
        width: 5rem;
        align-items: center;
    }
    
    .titulo-formulario {
        font-size: 1.5rem;
    }
    }
    
    .informacoes {
    margin-left: 4rem;
    width: 33rem;
    height: 52rem;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    .informacoes-participante {
        font-size: 1rem;
        width: 33rem;
        height: 1.25rem;
    
        .informacoes-participante-pessoais {
            color: #57534E;
    
            .informacoes-respostas {
                color: #292524;
                
            }
        }
    }
    }
    
    .informacoes-respostas {
    width: 33rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    border: 0.0625rem solid #D6D3D1;
    }
    .informacoes-participante-pessoais {
    font-size: 0.875rem;
    }
    
    .informacoes-respostas:focus {
    border: 0.125rem solid #F3541C; /* Primeira borda */
    outline: 0.25rem solid #FEE7D6; /* Segunda borda em torno da borda principal */
    
    }
    .informacoes-respostas-email {
    width: 33rem; 
    height: 3rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    border: 0.125rem;
    outline: 0.125rem solid rgba(220, 38, 38, 1);
    }
    
    .email-valido {
    
    font-size: 0.875rem;
    color: rgba(220, 38, 38, 1);
    }
    .alerta-botao{
    margin-top: 0.25rem;
    display: flex;
    width: 33rem;
    height: 1.25rem;
    gap:0.25rem;
    }
    .upload {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
    gap: 0.5rem;
    width: 33rem;
    height: 11.75rem;
    border-radius: 0.5rem;
    border: 0.125rem dashed rgba(214, 211, 209, 1);}
    
    .upload-img{
        width: 3rem;   
    }
    .upload-txt{
    text-align: center;
    width: 10.1875rem;
    height: 3rem;
    font-size: 1rem;
    color: rgba(168, 162, 158, 1);
    }
    .nome-caixa {
        width: 33rem;
        height: 4.5rem;  
    }
    .espacamento {
        display: flex;
        flex-flow: column; 
        gap: 1.5rem;
    }
    .seta-feminino {
        width: 1.5rem;
        height: 1.5rem;
    }
    .nome-caixa-alerta {
        width: 33rem;
        height: 6rem;  
        }
    .espacamento2{
        display: flex;
        flex-flow: column; 
        gap: 1.5rem;
    }
    .informacoes-participante2{
        font-size:1rem;
        width: 33rem;
        height: 1.25rem;
    }
    .container{
        font-size: 1rem;
        width: 33rem;
        height: 32.5rem;
        margin-left: 4rem;
        width: 33rem;
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
    }
    
    .caixa-trilhas-selecao {
        width: 16rem;
        height: 7.5rem;
        border:0.125rem solid rgba(214, 211, 209, 1);
        border-radius: 0.5rem;
        transition: border 0.3s ease-in-out; /* Efeito suave na mudança da borda */
    }
    
    /* Altera a borda para vermelho quando o input radio estiver selecionado */
    .cada-trilha-input input[type="radio"]:checked ~ .caixa-trilhas-selecao,
    .caixa-trilhas-selecao:has(.cada-trilha-input input[type="radio"]:checked) {
        border: 0.1875rem solid #F3541C;
    }
    
    .cada-trilha{
    /* width: 256rem; */
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 0.5rem;
    justify-content: space-around;
    }
    
    .cada-trilha img {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    
    .cada-trilha-input{
        width: 1.34375rem;
        height: 1.34375rem;
        display: flex;
        justify-content: flex-start;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }
    
    .cada-trilha-input input {
        width: 1.34375rem;
        display: inline;
    }
    
    .cada-trilha-input input[type="radio"] {
        accent-color: #F3541C;
    }
    
    
        .todas-as-trihas{
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 colunas de igual largura */
            grid-template-rows: repeat(3, auto); /* 3 linhas, com altura automática */
            gap: 1rem; /* Espaçamento entre os elementos */
        
    }
    
    
    .informacoes-participante-pessoais2 {
    font-size: 0.875rem;
    
    }
    .informacoes-respostas-borda2{
    width: 20.75rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    border: 0.0625rem solid  #D6D3D1;
    background: var(--surface-colors-surface-disabled, #E7E5E4);
    }
    
    .informacoes-respostas-borda2:focus {
        border: 0.125rem solid #F3541C; /* Primeira borda */
        outline: 0.25rem solid #FEE7D6; /* Segunda borda em torno da borda principal */
    }
    
    .informacoes-respostas-borda3:focus {
        border: 0.125rem solid #F3541C; /* Primeira borda */
        outline: 0.25rem solid #FEE7D6; /* Segunda borda em torno da borda principal */
    }
    
    .junto{
    text-align: center;
    display: flex;
    gap: 1.5rem;
    
    }
    .informacoes-respostas-borda3{
    width: 11rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    border: 0.0625rem solid  #D6D3D1;
    background: var(--surface-colors-surface-primary, #FFFFFF);
    }
    
    .container-info{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 4rem;
        margin-top: 3rem;
    }
    
    .container-2{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 33rem;
    }
    
    .nome-caixa-dual {  /*para colocar os inputs lado a lado*/
        display: flex;
        gap: 1.25rem;
    }
    
    .declaracao{
        width: 30.75rem;
        height: 3rem;
        color: rgba(87, 83, 78, 1);
        font-size: 1rem;
    
        strong{
            color: rgba(228, 58, 18, 1);
            line-height: 150%;
        }
    }
    
    .declaracao-caixa{
        width: 33rem;
        height: 3rem;
        display: flex;
        gap: 0.75rem;
        margin-left: 4rem;
        margin-top: 3rem;
    }
    
    .botao-cancelar{
        width: 7.6875rem;
        height: 3rem;
        border: 0.0625rem solid rgba(228, 58, 18, 1);
        border-radius: 0.5rem;
        color: rgba(228, 58, 18, 1); 
        font-weight: 500;
        background-color: rgba(255, 255, 255, 1);
        cursor: pointer;
    }
    .botao-inscricao{
        width: 10.5625rem;
        height: 3rem;
        border-radius: 0.5rem;
        color:rgba(255, 255, 255, 1);
        font-weight: 500;
        background-color:rgba(228, 58, 18, 1);
        border: none;
        cursor: pointer;
    }
    
    .botoes{
        width: 33rem;
        height: 4rem;
        display: flex;
        gap: 1rem;
        right: 0;
        margin-bottom: 0;
        justify-content: flex-end;
        margin-top: 3rem;
        margin-left: 4rem;
    
    }
    
    .imagem-logotipo{  /*div da logo*/
        width: 57.75rem;
        height: 26.49rem; 
        background-color: rgba(33, 53, 166, 1);
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .imagem-estudante{  /*div do estudante*/
        width: 51.5rem;
        height: 31.25rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .logos{  /*logo trilhas*/
        background-color: rgba(33, 53, 166, 1);
        /* width: 100%; */
        height: 58.875rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
    }
    .informacoes2{
        font-size: 1rem;
        width: 33rem;
        height: 32.5rem;
        margin-left: 4rem;
        width: 33rem;
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
    }
   
    /* responsividade do trabalho */
    @media (max-width: 768px) {
        body {
          font-size: 14px;
        }
      
        .menu {
          flex-direction: column;
        }
      }